snippet pac "Package Name"
package $1;
endsnippet

snippet func "Function"
func $1($2) {
  $3
}
endsnippet

snippet form "For loop for map"
for $1, $2 := range $3 {

}
endsnippet

snippet print "Print"
fmt.Println($1)
endsnippet


snippet post "Post Request"
app.Post("/$1", func (c*fiber.Ctx) error {
  $2
})
endsnippet
